.header {
  width: 100%;
  background-color: rgb(0, 204, 255);
}

.main-container {
  width: 1050px;
  margin: 0 auto;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.item-img {
  width: 350px;
  margin-bottom: 15px;
  border-radius: 15px;
}

.description {
  padding: 5px;
}

.links {
  display: inline-block;
  text-transform: uppercase;
}
